<div class="card mt-3">
  <div class="card-header bg-inverse">
    <h4 style="color:#ffffff;">Profiles</h4>
  </div>
  <div class="card-block">
    <div class="row justify-content-md-center">
      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="haksunkim"><a class="LI-simple-link" href='https://au.linkedin.com/in/haksunkim?trk=profile-badge'>Haksun Kim</a></div>
      <br />
      <h5>GitHub</h5>
      <iframe src="http://githubbadge.appspot.com/haksunkim" style="border: 0;height: 142px;width: 100%;overflow: hidden;" frameBorder="0"></iframe>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header bg-inverse">
    <h4 style="color:#ffffff;">Tags</h4>
  </div>
  <div class="card-block">
    <span *ngFor="let tag of getTags()">
      <a [routerLink]="['/blog','tag',tag]">{{tag}}</a>
    </span>
  </div>
</div>
