<div class="mt-3">
  <div class="container" *ngFor="let a of getArticles()">
    <h3><a [routerLink]="['/blog', a.id]" style="cursor:pointer;color:black;">{{a.title | uppercase}}</a></h3>
    <p><small>posted on {{a.createdAt}} by {{a.createdBy}}</small></p>
    <p>{{a.content | truncate:300 }}</p>
    <p>
      Tags: <span *ngFor="let t of a.tags; let i = index" style="color:blue;">
        {{i != 0 ? ", " : "" }}<a  [routerLink]="['/blog','tag',t]">{{t}}</a>
      </span>
    </p>
    <hr />
  </div>
</div>
